html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  padding: 5px;
}

ul{
  /* Enable flex mode. */
  display: flex; 

  flex-direction: row;
  
  /* Spread out the elements inside the header. */
  justify-content: flex-start;

  /* Align items vertically in the center. */
  align-items: center;
  text-decoration: none;
}

li {
  margin-left: 5px;
  margin-right: 10px;
}